<h1>商店</h1>
<% @products.each do |product| %>
  <div class="entry">
    <!-- 帮助函数，使用其参数作为图像源，生成html标签<img> -->
    <%= image_tag(product.image_url) %>
    <!-- 帮助函数，允许安全的添加html风格代码 -->
    <%= sanitize(product.desc) %>
  </div>

  <div class="price_line">
    <span class="price" %>
      <!-- 帮助函数，把价格转换成当前货币格式 -->
      <%= number_to_currency(product.price,unit:"￥") %>
    </span>
  </div>
<% end %>
