<h1>RubyOnRails</h1>
<!-- link_to 是 Rails 内置的视图帮助方法之一，根据提供的文本和地址创建超链接。这上面这段代码中，地址是文章列表页面。 -->
<!-- 如果要链接到同一个控制器中的动作，不用指定 :controller 选项，因为默认情况下使用的就是当前控制器。 -->
<%= link_to 'Blog', controller: 'articles' %>
<%= link_to 'User', controller: 'users' %>
<% if current_user %>
    <%= link_to "退出", destroy_user_session_path, method: :delete, data:{confirm:'Are You Sure?'} %>
<% end %>