<div class="content">
    <ul>
        <% @blogs.each do |item| %>
            <li><%= link_to item.title, topic_blog_path(item.topic,item) %></li>
        <% end %>
    </ul>
    <%= paginate @blogs %>
</div>