<div class="content">
<div class="list-group">
    <% if !@blogs.blank? %>
        <% @blogs.each do |item| %>
            <div class="list-group-item list-group-item-action"><%= link_to item.title, topic_blog_path(item.topic,item) %></div>
        <% end %>
        <%= paginate @blogs %>
    <% end %>
</div>
</div>