<div class="content">
    <ul>
        <% if !@blogs.blank? %>
            <% @blogs.each do |item| %>
                <li><%= link_to item.title, topic_blog_path(item.topic,item) %></li>
            <% end %>
            <%= paginate @blogs %>
        <% end %>
    </ul>
</div>