<!-- 使用局部视图去掉多个视图中的重复代码。按照约定，局部视图的文件名以下划线开头。 -->
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
  <%= link_to 'Delete', [comment.article, comment],method: :delete,data:{confirm:'Are You Sure?'} %>
  </p>