<!-- form_for 的参数是个数组，构建嵌套路由，例如 /articles/1/comments -->
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label "评论内容" %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "完成"%>
  </p>
<% end %>