<% content_for :css do %>
<% end %>
<% content_for :html do %>
  <div class="container d-flex justify-content-center align-items-center content">
    <%= image_tag  "http://assets.xipeng.vip/search-color.gif"%>
  </div>
<% end %>
<% content_for :js do %>
<% end %>